.item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: top;
	border-radius: 5px;

	background-color: var(--accentLight);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease-out;
}

.item:hover {
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
	transform: scale(1.005);
}

.text {
	text-decoration: none;
	padding: 1rem 0.5rem;
	line-height: 1.5rem;
}

.done {
	text-decoration: line-through;
	color: var(--light);
}

.btns {
	padding: 0.5rem 0.3rem;
	display: flex;
	flex-direction: row;
}

.displayList {
	width: 100%;
}

.displayGrid {
	min-height: 12rem;
}
