@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--bg: hsl(0, 0%, 93%);
	--black: hsl(270, 7%, 5%);
	--dark: hsl(270, 7%, 35%);
	--light: hsl(270, 7%, 55%);
	--white: hsl(0, 0%, 99%);
	--accent: hsl(40, 100%, 60%);
	--accentMid: hsl(40, 100%, 70%);
	--accentLight: hsl(40, 60%, 95%);

	color: var(--black);
}

.darkMode {
	--bg: hsl(0, 0%, 15%);
	--black: hsl(0, 0%, 80%);
	--dark: hsl(270, 7%, 35%);
	--light: hsl(270, 7%, 55%);
	--white: hsl(0, 0%, 10%);
	--accent: hsl(245, 50%, 30%);
	--accentMid: hsl(245, 50%, 60%);
	--accentLight: hsl(245, 15%, 15%);
}

a,
button {
	cursor: pointer;
}
