.menuText {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: auto;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.8rem;
	text-transform: uppercase;
}
.menuText input {
	width: 6rem;
	height: 2rem;
	margin-right: 3px;
	border: none;
	border-radius: 5px;
	background: var(--accentLight);
	font-family: inherit;
	font-size: 0.8rem;
	font-weight: bold;
	text-transform: none;
	color: var(--black);
	padding: 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.input:focus-within {
	background-color: var(--accentLight);
}
