.nav {
	background-color: var(--accentLight);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	margin: 1rem 0;
	overflow: hidden;
	border-radius: 5px;
}
.menuWrapper {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	min-height: 1rem;
}

.menuList {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menuText {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-width: 7rem;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.menuIn {
	animation: menuIn 0.3s ease-in;
}
.menuOut {
	animation: menuOut 0.3s ease-in;
}

@keyframes menuIn {
	0% {
		opacity: 0;
		transform: translateX(460px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes menuOut {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(460px);
	}
}

.btnIn {
	animation: btnIn 0.3s ease-in;
}
.btnOut {
	animation: btnOut 0.3s ease-in;
}
.btnDone {
	transform: translateX(460px);
}

@keyframes btnIn {
	0% {
		transform: translateX(460px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes btnOut {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(460px);
	}
}
