.nav {
	background-color: var(--accentLight);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	margin: 1rem 0;
	overflow: hidden;
	border-radius: 5px;
}
.menuWrapper {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	min-height: 1rem;

	transition: all 0.3s ease-in;
}
.spacer {
	width: 0%;
	transition: all 1s;
}
.spacerClosed {
	width: 100%;
	transition: all 1s;
}

.menuList {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.menuText {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 7rem;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.8rem;
	text-transform: uppercase;
}
