.nav {
	background-color: var(--accentLight);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	margin: 1rem 0;
	overflow: hidden;
}
.menuWrapper {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	min-height: 1rem;
	border-radius: 5px;

	transition: all 0.3s ease-in;
}

.menuOpen {
	transform: translateX(0);
}

.menuClose {
	transform: translateX(460px);
}

.menuList {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.menuText {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 7rem;
	font-family: 'Roboto Mono', monospace;
	font-size: 0.8rem;
	text-transform: uppercase;
}
